[user]
    email = minahabi@amazon.com
    name = Mina Habib
[core]
    editor = vim
    pager = less -FMRiX
    excludesfile = /Users/minahabi/.config/git/excludes
    attributesfile = ~/.gitattributes_global
[color]
    ui = auto
[push]
    default = simple
[alias]
    dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
[credential]
	UseHttpPath = true
